<!DOCTYPE HTML>
<!--
	Traveler by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mena Mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
	<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" >
	<!-- Icomoon Icon Fonts-->
	<!-- <link rel="stylesheet" href="css/icomoon.css"> -->
	<link href="{{ url_for('static', filename='css/icomoon.css') }}" rel="stylesheet" >
	<!-- Themify Icons-->
	<!-- <link rel="stylesheet" href="css/themify-icons.css"> -->
	<link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet" >
	<!-- Bootstrap  -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" >
	

	<!-- Magnific Popup -->
	<!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->
	<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" >

	<!-- Magnific Popup -->
	<!-- <link rel="stylesheet" href="css/bootstrap-datepicker.min.css"> -->
	<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" >
	<!-- Owl Carousel  -->
	<link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet" >
	<link href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}" rel="stylesheet" >

	<!-- <link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css"> -->

	<!-- Theme style  -->
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" >
	<!-- <link rel="stylesheet" href="css/style.css"> -->

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="templates/index.html">Wrok From Home</a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<div id="gtco-logo"><a>A practical guide to work from home</a></div>
				</div>
			</div>
			
		</div>
	</nav>
	
	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Instant Access to a Work From Home opportunity that you could make up to $49 per day</h1>	
						</div>
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>Get Started</h3>
											<p>Random text to fill the gaps</p>
											<form action="#">
												<div class="row form-group">
													<div class="col-md-12">
														<input type="text" id="fullname" class="form-control" placeholder="NAME">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<input type="text" id="address" class="form-control" placeholder="ADDRESS">
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12">
														<input type="email" id="email" class="form-control" placeholder="EMAIL">
													</div>
												</div>
												
												<div class="row form-group">
													<div class="col-md-12">
														<input type="text" id="phone" class="form-control" placeholder="PHONE">
													</div>
												</div>

												<div class="row form-group">
													<div class="col-md-12">
														<button type="submit" onclick="submitForm()"class="btn btn-secound btn-block">Instant Access</button>
													</div>
												</div>
											</form>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</header>
	
	<div id="gtco-secound" class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<h2>The work from home chance of a lifetime</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					<button type="button" class="js-gotop btn btn-black btn-lg">Learn More</button>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Consectetur adipisicing elit</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>3</i>
						</span>
						<h3>Dignissimos asperiores vitae</h3>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>	

			</div>
		</div>
	</div>


	<div class="gtco-cover gtco-cover-sm"  data-stellar-background-ratio="0.5">
		<div class="second"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>We have high quality services that you will surely love!</h1>
					<br><br>
					<button type="button" class=" js-gotop btn btn-transparent btn-lg">Learn More</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 4 dives -->
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img src="{{url_for('static', filename='images/office.jpg')}}" alt="">
					</div>
				</div>
				<div class="col-md-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<h2>Consectetur adipisicing elit</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<button type="submit"class=" js-gotop btn btn-secound s-gotop ">Get Started</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<h2>Consectetur adipisicing elit</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
						<button type="submit"class="js-gotop btn btn-secound">Get Started</button>
					</div>
				</div>
				<div class="col-md-6 ">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img src="{{url_for('static', filename='images/office.jpg')}}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<section class="copyright py-4 text-center">
		<div class="container">
		  <small>&copy; Copyright 2020 MENA mobile business</small>
		</div>
	</section>
	</div>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="static/js/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="static/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="static/js/owl.carousel.min.js"></script>

	<script src="static/js/jquery.easing.1.3.js"></script>

	<!-- Stellar Parallax -->
	<script src="static/js/jquery.stellar.min.js"></script>
	<script src="static/js/submit.js"></script>

	<!-- Magnific Popup -->
	<script src="static/js/jquery.magnific-popup.min.js"></script>
	<script src="static/js/magnific-popup-options.js"></script>
	

	<!-- Main -->
	<script src="static/js/main.js"></script>

	</body>
</html>

